name: CI (Push)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/_lint.yml

  test:
    name: Test
    uses: ./.github/workflows/_test.yml

  spread-matrix:
    name: Spread Matrix
    uses: ./.github/workflows/_spread-matrix.yml

  goreleaser-snapshot:
    name: Goreleaser Snapshot
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup goreleaser
        run: |
          sudo snap install --classic goreleaser

      - name: Build oxidizr
        id: build
        run: |
          goreleaser build --snapshot --clean --verbose

  spread-tests:
    name: Spread tests
    uses: ./.github/workflows/_spread.yml
    needs:
      - test
      - lint
      - spread-matrix
    with:
      tests: ${{ needs.spread-matrix.outputs.tests }}
