name: Release

on:
  push:
    tags: ["v*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/_lint.yml

  test:
    name: Test
    uses: ./.github/workflows/_test.yml

  spread-matrix:
    name: Spread Matrix
    uses: ./.github/workflows/_spread-matrix.yml

  spread-tests:
    name: Spread tests
    uses: ./.github/workflows/_spread.yml
    needs:
      - test
      - lint
      - spread-matrix
    with:
      tests: ${{ needs.spread-matrix.outputs.tests }}

  release:
    name: Release oxidizr
    runs-on: ubuntu-latest
    environment: main
    needs:
      - spread-tests
    steps:
      - name: Check out the code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@v19

      - name: Release oxidizr
        id: build
        run: |
          nix develop -c goreleaser release --clean --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
